.login-box, .register-box {
    width: 430px;
}
.login-page, .register-page{
    height:60vh;
}


.flex{
display: flex;
flex-direction: row;
}
.flex>*{
    /* display: inline!important; */
    margin-right: 3px;
    width: fit-content;
}
.base{
    align-items: baseline;
}
.page-link{

background-color: #343a40!important;
border-color: unset!important;
}

.mg-r{
margin-right: 3px;
}